#### Q1. WAP to acceptpercentage from user and display the grade acording

In [2]:
marks = float(input("Enter your percentage"))

if marks >= 0 and marks <= 100:
    if marks > 90 :
        print("Your grade is A")
    elif marks > 80 and marks <= 90:
        print("Your grade is B")
    elif marks >60 and marks <=80:
        print("Your grade is C")
    else :
        print("Your grade is D")
else:
    print("Not valid percentage")

Enter your percentage 115
Enter your valid percentage

#### Q2. WAP to accept cost price of bike and display the road tax to be paid according the data

In [4]:
price = float(input("Enter the cost price of bike"))

if price > 50000:
    if price <= 100000:
        print("Tax is 10%")
    else:
        print("Tax is 15%")
else:
    print("Tax is 5%")

Enter the cost price of bike 100000
Tax is 10%

#### Q3. Accept any city from the user and display monuments of that city.

In [5]:
city = input("Enter the city name")

if city == 'Delhi' or city == 'delhi':
    print("Red Fort")
elif city == 'Agra' or city == 'agra':
    print("Taj Mahal")
elif city == 'Jaipur' or city == 'jaipur':
    print("Jal Mahal")

Enter the city name jaipur
Jal Mahal

#### Q4. Check how many times given number can divided by 3 befor it is less than or equal to 10

In [1]:
Num = int(input("Enter your number"))
count = 0
while (Num/3) > 10:
    Num /= 3
    count = count+1

print(count)

1

#### Q5. Why and when to use while loop
While loop is used to execute given block of code repeatadly until given condition is satisfied.
loop ends when condition becomes false

In [1]:
# While loop example
cnt = 0
while(cnt < 5):
    cnt += 1
    print("I love data-science")

I love data-science
I love data-science
I love data-science
I love data-science
I love data-science

#### Q6. Nested while loop to print pattern

In [26]:
i = 0
while (i<9):
    j = 0
    while(j<i):
        print("*", end="")
        j = j + 1
    print()
    i = i +1

*
**
***
****
*****
******
*******
********

#### Q7. Reverse a while loop to print numbers from 10 to 1.

In [3]:
N = 10
while(N>0) :
    print(N)
    N -= 1

10
9
8
7
6
5
4
3
2
1

#### Q8. Reverse a while loop to print numbers from 10 to 1.

In [5]:
M = 10
while(M>0):
    print (M)
    M -= 1

10
9
8
7
6
5
4
3
2
1